version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  api:
    container_name: rag_api
    build:
      context: ..
      dockerfile: deploy/Dockerfile.api
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "8000:8000"
    environment:
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_COLLECTION=docs
      - EMBED_MODEL_ID=models/embeddings/bge-small-en-v1.5
      - LLM_MODEL_PATH=models/llm/Qwen3-4B-Instruct-2507.Q4_K_M.gguf
    volumes:
      - ../models:/app/models
      - ../datasets:/app/datasets
    depends_on:
      - qdrant

volumes:
  qdrant_data: